html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-reviews, .description {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 15px;
}

.product-card {
    text-decoration: none;
    color: black;
}

.product-card:hover {
    text-decoration: none;
    color: black;
}

.text {
    margin-top:1rem;
}

.price, .quantity{
    text-align: left;
}

.price {
    margin-right:2rem;
}

.purchase-button {
    margin: 1rem;
}

.review-select {
    width: 50px;
    margin-bottom: 1rem;
}

.review-text {
    margin-bottom: 1rem;
}
